<div class=author-info>
    <img src="{{ site.author_image_path }}" class=author-image />
    <h1 class=author-name><a href=/>{{ site.author_name }}</a></h1>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class=icon-github-alt></i></a>
        <a href="{{ site.twitter_url }}"><i class=icon-twitter></i></a>
        <a href="{{ site.linkedin_url }}"><i class=icon-linkedin></a></i>
        <a href="{{ site.feed_url }}"><i class=icon-rss></i></a>
    </div>
    {% if !(page.homepage == True) %}
    <p class=author-bio>{{ site.author_bio }}</p>
    {% else %}
    <div class=home-nav>
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#work-experience">Work</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#teaching">Teaching</a></li>
            <li><a href="#talks">Talks</a></li>
            <li><a href="#leadership">Leadership</a></li>
            <li><a href="#contact">Contact</a></li>
            <li>
                <a class=resume-link href="/resume.pdf">Resume</a><br/>
                <span class=resume-update>(Updated Oct. '14)</span>
            </li>
        </ul>
    </div>
    {% endif %}
</div>
